.product-auto-banner {
    height: 225px;
    background: url('/images/autocare/product_banner.jpg') no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid#CBCBCB;
}

.product-auto-description {
    font-family: 'Helvetica';
    font-size: 1.2em;
}

.h3 {
    position: 0 auto;
}

// .form-recommend {
//     position: relative;
// }
// .form-group {
//     position: absolute;
//     font-size: 1.5em;
// }
// #search {
//     width: 50%;
// }
// #search {
//     width: 320px;
//     border-radius: 5px;
//     height: 25px;
//     position: relative;
// }
// #searchForm input {
//     padding-left: 10px;
// }
// #submitButton {
//     position: absolute;
//     background: #9D9D9D;
//     color: #fff;
//     padding-right: 10px;
//     margin-left: 5px;
//     border-radius: 3px;
// }
// #createButton {
//     position: absolute;
//     margin-left: 85px;
//     padding-right: 10px;
//     background: #9D9D9D;
//     color: #fff;
//     border-radius: 3px;
// }
.table {
    font-size: 1.2em;
}

.table thead {
    font-weight: bold;
}