.product-auto-banner {
    height: 225px;
    background: url('/images/autocare/product_banner.jpg') no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid#CBCBCB;
}

.introduce {
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-size: 3.3em;
}

.product-auto-description {
    font-size: 1.2em;
}

.h3 {
    position: 0 auto;
}

.table {
    font-size: 1.2em;
}

.auto-search {
    float: right;
}

.table thead {
    font-size: 1.3em;
    background: #232E64;
    color: #ABC70A;
    vertical-align: middle;
}

.contract {
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-size: 3.3em;
}