// reset backgroung bootrap
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background: transparent;
}

.navbar-inverse 
.navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background: transparent;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
	background: transparent;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-bottom: 3px solid #abc70a;
}

.navbar-inverse {
	background-color: $blue;
	.navbar-toggle {
		border: none;
	}

	.navbar-collapse {
		border-color: transparent;
	}
}

.img-logo {
	max-width: 80%;
}

.navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu__item {
	a {
		font-size: 20px;
	}
}


.icon-socail {
	text-align: center;
	span {
		font-size: 20px;
	}
	li {
		display: inline-block;
	}
}


.menu {
	padding-left: 30px;
}

.navbar-toggle {
	padding-top: 20px;
}

.navbar-brand {
	height: auto;
}

.navbar {
	margin-bottom: 0;
	border: 0;
}

@media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
	.navbar {
		border-radius: 0;
	}

	.nav>li>a {
		padding-right: 5px;
		padding-left: 5px;
	}

	.menu {
		padding-left: 10px;
	}
	.menu__item {
		a {
			font-size: 16px;
		}
	}
}

@media (min-width: $screen-desktop) {
	.dropdown{
		&:hover {
			.dropdown-menu {
					display: block;
				}
		}
	}
	.navbar {
		border-radius: 0;
	}
	.img-logo {
		max-width: 100%;
	}
}
