.product {
	&__item {
		min-height: 200px;
		width: 100%;
		padding: 27px;
		margin: 20px 0;
		background: #f1f1f1;
		box-shadow: 10px 10px 5px #888888;
		.title {
			color: $blue;
		}

		p {
			font-size: 100px;
			color: blue;
		}
	}
}