.slider {
	margin-top: 67px;
	overflow: hidden;
	&__item {
		background-size: cover;
		background-repeat: no-repeat;
	}
	.content {
		max-width: 500px;
		font-size: 40px;
		padding: 45px 0 285px;
	}
	.title {
		font-size: 50px;
		color: $blue;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	.slick-dots {
		bottom: 5px;
		li button {
			&:before {
				font-size: 20px;
				color: red;
			}
		}
	}
}

@media (min-width: $screen-tablet) {
	.slider {
		margin-top: 80px;
	}
}