.content-page {
  margin-top: 67px;
}

a {
  transition: all .3s;
}

.view-more {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #7b5fa5;
  color: #d9d9d9;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.icon {
  &:before {
    font-family: fontawesome;
  }
}

.icon-twitter {
  &:before {
    content: '\f099';
  }
}

.icon-face{
  &:before {
    content: '\f230';
  }
}

.icon-car{
  &:before {
    content: '\f1b9';
  }
}

.icon-travel{
  &:before {
    content: '\f072';
  }
}
.icon-health{
  &:before {
    content: '\f21e';
  }
}
.icon-plus{
  &:before {
    content: "\f055";
  }
}
.icon-delete{
  &:before {
    content: "\f00d";
  }
}
@media (min-width: $screen-tablet) {
  .content-page {
    margin-top: 80px;
  }
}