@font-face {
  font-family: 'fontawesome';
  src:  url('../fonts/fontawesome.woff2') format('woff2'),
    url('../fonts/fontawesome.ttf') format('truetype'),
    url('../fonts/fontawesome.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}