
// Typography
$font-size-base: 16px;


// Color
$color: #000;
$blue: #232e64;
$blue1: #D1F2ED;
$bgcolor: #fff;
$hover: #0aa9ee;
$active-link:#67b5e2;
$text-color: $color;
$placeholder-color: $color;

// Link



//Size
$Max-width-page: 1600px;
$Max-width-content: 1000px;


// Grid System
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);