.content-page {
  margin-top: 67px; }

a {
  transition: all .3s; }

.view-more {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #7b5fa5;
  color: #d9d9d9; }
  .view-more:hover, .view-more:focus {
    text-decoration: none;
    outline: none; }

.icon:before {
  font-family: fontawesome; }

.icon-twitter:before {
  content: '\f099'; }

.icon-face:before {
  content: '\f230'; }

.icon-car:before {
  content: '\f1b9'; }

.icon-travel:before {
  content: '\f072'; }

.icon-health:before {
  content: '\f21e'; }

.icon-plus:before {
  content: "\f055"; }

.icon-delete:before {
  content: "\f00d"; }

@media (min-width: 768px) {
  .content-page {
    margin-top: 80px; } }
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.woff2") format("woff2"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background: transparent; }

.navbar-inverse
.navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent; }

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: transparent; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 3px solid #abc70a; }

.navbar-inverse {
  background-color: #232e64; }
  .navbar-inverse .navbar-toggle {
    border: none; }
  .navbar-inverse .navbar-collapse {
    border-color: transparent; }

.img-logo {
  max-width: 80%; }

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px; }

.menu__item a {
  font-size: 20px; }
  .menu__item a:hover .sub-menu {
    display: block; }

.menu {
  padding-left: 30px; }

.navbar-toggle {
  padding-top: 20px; }

.navbar-brand {
  height: auto; }

.navbar {
  margin-bottom: 0;
  border: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    border-radius: 0; }

  .nav > li > a {
    padding-right: 5px;
    padding-left: 5px; }

  .menu {
    padding-left: 10px; }

  .menu__item a {
    font-size: 16px; } }
@media (min-width: 992px) {
  .navbar {
    border-radius: 0; }

  .img-logo {
    max-width: 100%; } }
.main-footer {
  padding: 10px 0;
  font-size: 16px; }
  .main-footer a {
    color: black;
    text-decoration: none; }
    .main-footer a:hover {
      color: blue; }

.back-to-top {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0; }
  .back-to-top a {
    color: #232e64; }
  .back-to-top .btn-baktop {
    padding: 7px 10px;
    background: #a29b9b;
    border-radius: 50%;
    margin: 5px 0; }
  .back-to-top p {
    color: blue;
    font-weight: bold;
    padding-top: 10px; }

.top-footer a {
  padding: 0 7px; }

.top-footer,
.bot-footer {
  padding: 10px 0; }

.slider {
  overflow: hidden; }
  .slider__item {
    background-size: cover;
    background-repeat: no-repeat; }
  .slider .content {
    max-width: 500px;
    font-size: 20px;
    padding: 30px 0 200px; }
  .slider .title {
    font-size: 30px;
    color: #232e64; }
  .slider .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .slider .slick-dots {
    bottom: 5px; }
    .slider .slick-dots li button:before {
      font-size: 20px;
      color: red; }

@media (min-width: 768px) {
  .slider .content {
    max-width: 500px;
    font-size: 40px;
    padding: 45px 0 230px; }
  .slider .title {
    font-size: 50px; } }
.product__item {
  min-height: 200px;
  width: 100%;
  padding: 27px;
  margin: 20px 0;
  background: #f1f1f1;
  box-shadow: 10px 10px 5px #888888; }
  .product__item .title {
    color: #232e64; }
  .product__item p {
    font-size: 100px;
    color: blue; }

.info-wrapper {
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 20px; }

.info-top,
.info-bo t {
  margin-bottom: 40px; }

.info-top {
  padding: 0 15px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto; }
  .info-top .info-title {
    color: blue; }

.benefit {
  display: flex;
  background: #2a2b29;
  box-shadow: 10px 10px 5px #888888; }
  .benefit__wrapper {
    padding: 70px 0; }
  .benefit__bg {
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 400px; }
  .benefit__content {
    width: 50%;
    padding: 20px 40px;
    color: white; }
  .benefit__title {
    color: lightblue; }
  .benefit__text {
    padding: 30px 0;
    font-size: 20px; }

@media (max-width: 767px) {
  .benefit {
    flex-direction: column;
    background: #2a2b29;
    box-shadow: 5px 5px 2px #888888; }
    .benefit__wrapper {
      padding: 40px 0; }
    .benefit__bg {
      background-size: cover;
      background-position: center;
      width: 100%;
      min-height: 300px; }
    .benefit__content {
      width: 100%;
      padding-bottom: 40px; }
    .benefit__text {
      font-size: 18px; } }
.info__contact {
  margin-bottom: 20px 0 10px;
  background-size: cover;
  padding: 40px 0;
  border-top: 3px solid #929292; }
  .info__contact .folow {
    margin-top: 10px; }
  .info__contact .view-more {
    font-size: 18px; }
  .info__contact span {
    font-size: 20px;
    padding: 10px;
    color: #7b5fa5; }
  .info__contact .social {
    font-size: 30px; }

@media (max-width: 767px) {
  .info__contact span {
    display: block;
    margin: 10px 0; }
  .info__contact .icon-face {
    font-size: 50px; } }
.travel-wrapper {
  background-color: #D1F2ED;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  .travel-wrapper .title-travel {
    font-size: 50px;
    font-family: fantasy; }

.banner-travel {
  background-size: cover;
  background-position-x: 90%; }
  .banner-travel .title {
    background-position: bottom right;
    font-size: 40px;
    padding: 70px 11% 180px;
    font-family: cursive; }

.search-travel {
  border-radius: 20px;
  border: 0px;
  width: 30%;
  padding: 5px 30px;
  transition: all .3s;
  margin: 40px 0 60px; }
  .search-travel:focus {
    width: 50%;
    border: 1px solid blue;
    outline: none;
    box-shadow: 1px 0px 4px #ab375f; }

.content-travel .plus {
  font-size: 25px;
  color: blue;
  position: relative;
  top: 4px;
  transition: all .3s; }
  .content-travel .plus:hover {
    top: 6px;
    cursor: pointer;
    opacity: .8;
    font-size: 30px; }

.block-travel {
  background-repeat: repeat;
  background-size: 50% 50%;
  width: 85%;
  text-align: left;
  margin: 30px auto;
  padding: 20px 0 20px 20px;
  font-size: 20px;
  background: #d7d9dc;
  position: relative;
  color: #efec9f;
  box-shadow: 10px 10px 5px #888888; }
  .block-travel .delete {
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    position: absolute;
    top: -9%;
    right: -4%;
    transition: all .3s;
    background: red;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #888888; }
    .block-travel .delete:hover {
      font-size: 25px; }
    .block-travel .delete:focus {
      outline: none; }
  .block-travel .name span,
  .block-travel .id-card span,
  .block-travel .type-care span {
    font-weight: bold;
    color: black; }
  .block-travel .sig {
    color: red; }
  .block-travel .edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background: #D1F2ED;
    border-radius: 5px; }
    .block-travel .edit:hover {
      opacity: .8;
      text-decoration: none; }
    .block-travel .edit:focus {
      outline: none; }

@media (max-width: 767px) {
  .travel-wrapper .title-travel {
    font-size: 35px; }

  .banner-travel .title {
    background-position: bottom right;
    font-size: 30px;
    padding: 70px 11% 180px;
    font-family: cursive; }

  .search-travel {
    border-radius: 10px;
    width: 60%;
    margin: 20px 0 20px; }
    .search-travel:focus {
      width: 80%; } }

/*# sourceMappingURL=style.css.map */
