a {
  transition: all .3s; }

.view-more {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #7b5fa5;
  color: #d9d9d9; }
  .view-more:hover, .view-more:focus {
    text-decoration: none;
    outline: none; }

.icon:before {
  font-family: fontawesome; }

.icon-twitter:before {
  content: '\f099'; }

.icon-face:before {
  content: '\f230'; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.woff2") format("woff2"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background: transparent; }

.navbar-inverse
.navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent; }

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: transparent; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.navbar-inverse {
  background-color: #b90909; }
  .navbar-inverse .navbar-toggle {
    border: none; }
  .navbar-inverse .navbar-collapse {
    border-color: transparent; }

.img-logo {
  max-width: 80%; }

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px; }

.menu__item a {
  font-size: 20px; }
  .menu__item a:hover .sub-menu {
    display: block; }

.menu {
  padding-left: 30px; }

.navbar-toggle {
  padding-top: 20px; }

.navbar-brand {
  height: auto; }

.navbar {
  margin-bottom: 0;
  border: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    border-radius: 0; }

  .nav > li > a {
    padding-right: 5px;
    padding-left: 5px; }

  .menu {
    padding-left: 10px; }

  .menu__item a {
    font-size: 16px; } }
@media (min-width: 992px) {
  .navbar {
    border-radius: 0; }

  .img-logo {
    max-width: 100%; } }
.main-footer {
  padding: 10px 0;
  font-size: 16px; }
  .main-footer a {
    color: black;
    text-decoration: none; }
    .main-footer a:hover {
      opacity: 0.7; }

.back-to-top {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0; }
  .back-to-top a {
    color: #b90909; }
  .back-to-top .btn-baktop {
    padding: 7px 10px;
    background: #a29b9b;
    border-radius: 50%;
    margin: 5px 0; }
  .back-to-top p {
    padding-top: 10px; }

.top-footer a {
  padding: 0 7px; }

.top-footer,
.bot-footer {
  padding: 10px 0; }

.slider {
  margin-top: 67px;
  overflow: hidden; }
  .slider__item {
    background-size: cover;
    background-repeat: no-repeat; }
  .slider .content {
    max-width: 500px;
    font-size: 40px;
    padding: 45px 0 285px; }
  .slider .title {
    font-size: 50px;
    color: #b90909; }
  .slider .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .slider .slick-dots {
    bottom: 5px; }
    .slider .slick-dots li button:before {
      font-size: 20px;
      color: red; }

@media (min-width: 768px) {
  .slider {
    margin-top: 80px; } }
.product__item {
  width: 100%;
  height: 400px;
  background: blue;
  margin: 10px 0;
  color: white;
  font-size: 30px;
  padding-top: 40px; }

/*# sourceMappingURL=style.css.map */
