<div class="travel-wrapper" style="background-image: url('./images/bgClouds.svg')">
	<div class="container">
		<h2 class="title-travel text-center"> Insurance Contract </h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 panel-travel">
				<div class="info-customer">
					<div class="info-heading">
						<h3 class="info-title">Customer Information</h3>
					</div>
					<div class="panel-body ">
						<div class="form-horizontal">
							<div class="form-group ">
								<label class="col-sm-4 control-label" for="fullname">Full Name</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="lastname" name="fullname" placeholder="Full Name" value="{{form.name}}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="id-car">Id Card</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="id-car" name="id-care" placeholder="Id card" value="{{form.id }}" "/>
								</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 control-label" for="phone">Phone</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" value="{{form.phone }}"/>
								</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 control-label" for="number-day">Number Travel Days</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="number-day" name="number-day" value="{{form.days}}" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="catego-care">
					<div class="info-heading">
						<h3 class="info-title">Insurance Categories</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group "> 
								<div class="row">
									<p class='col-xs-offset-1 '>Tourist area</p>
									<div class="area col-xs-offset-2 text-center">
										<label class="col-xs-3">
									      <input type="checkbox" name="area" class="asean" ng-model='form.asean'> Asean
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="area" class="asia" ng-model='form.asia'> Asia
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="area" class="global" ng-model='form.global'> Global
									    </label>
									</div>
								</div>
								<div class="row">
									<p class='col-xs-offset-1'>Type Insurance</p>
									<div class="type-care col-xs-offset-2 text-center">
										<label class=" col-xs-3">
									      <input type="checkbox" name="type-care" class="individual" ng-model='form.individual'> individual
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="type-care" class="family" ng-model='form.family'> Family
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="type-care" class="group" ng-model='form.group'> Group
									    </label>
									</div>	
								</div>
								<div class="row">
									<p class='col-xs-offset-1'>Insurance package</p>
									<div class="package col-xs-offset-2 text-center">
										<label class="col-xs-5">
									      <input type="checkbox" name="package" class="classic" ng-model='form.classic'> Classic
									    </label>
									    <label class="col-xs-5">
									      <input type="checkbox" name="package" class="premier" ng-model='form.premier'> Premier
									    </label>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="risk-care">
					<div class="info-heading">
						<h3 class="info-title">Risk Assessment</h3>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group ">
								<div class="row">
									<p class='col-xs-offset-1 '>Travel area</p>
									<div class="area-travel col-xs-offset-2 text-center">
										<label class="col-xs-5">
									      <input type="checkbox" name="area-travel" class="stability" ng-model='form.stability'> Political stability
									    </label>
									    <label class="col-xs-5">
									      <input type="checkbox" name="area-travel" class="instability" ng-model='form.instability'> Political instability
									    </label>
									</div>
								</div>
								<div class="row">
									<p class='col-xs-offset-1'>Types of Tourism</p>
									<div class=" tourism col-xs-offset-2 text-center">
									    <label class="col-xs-3">
									      <input type="checkbox" name="tourism" class="relax" ng-model='form.relax'> Relax
									    </label>
										<label class=" col-xs-3">
									      <input type="checkbox" name="tourism" class="discover" ng-model='form.discover'> Discover
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="tourism" class="conquest" ng-model='form.conquest'> Conquest
									    </label>
									</div>	
								</div>
								<div class="row">
									<p class='col-xs-offset-1'>Phương tiện Giao thông</p>
									<div class="vehicle col-xs-offset-2 text-center">
										<label class="col-xs-3">
									      <input type="checkbox" name="vehicle" class="road" ng-model='form.road'> Road 
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="vehicle" class="warter-way" ng-model='form.warterway'> Warter Way
									    </label>
									    <label class="col-xs-3">
									      <input type="checkbox" name="vehicle" class="airline" ng-model='form.airline'> AirLine
									    </label>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="money row">
					<label class="col-xs-2 col-sm-1 control-label" >Money: </label>
						<div class="col-xs-3">
							<input class="out-money"  type = "text" value='{{computedTotal()}}' disabled/>
						</div>
				</div>

				<div class="row">
					<label class="col-xs-6">
				      <input type="checkbox" class="confirm" ng-checked="{{form.state}}"> Confirmation Sign
				    </label>
				    <div class="col-xs-6">	
				    	<button class="save btn btn-primary "> Save </button>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>